%p#choose_Asset
  = f.label :subject_id, "Choose an asset", :class => 'inline'
  %span.note
    to display with the text below as a caption
  = f.select :subject_id, Asset.all.map {|a| [a.title, a.id]}, {}, :class => 'textbox'
