%p#choose_Event
  = f.label :event_id, "Choose an event", :class => 'inline'
  %span.note
    to display as a calendar block at the bottom of your text
  %br
  = f.select :event_id, Event.all.map {|e| ["#{e.date}: #{e.title}", e.id]}, {}, :class => 'textbox'
