%p#choose_Page
  = f.label :page_id, "Choose a page", :class => 'inline'
  %span.note
    to appear as a link at the bottom of your text
  %br
  = f.select :page_id, Page.all.map {|p| [p.title, p.id]}, {}, :class => 'textbox'
